.home-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
}

.home-white-background {
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.logged-in {
    padding-bottom: 1rem;
}

.daily-tasks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.daily-tasks li {
    padding: 0.25rem;
    /* Adds spacing between list items */
}

.incomplete {
    color: rgb(127, 127, 127);
}

.complete {
    color: green;
}

.circle-icon {
    color: rgb(127, 127, 127);
}

.check-icon {
    color: green;
}

.popular-pets {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.popular-pets li {
    padding: 0.25rem;
    /* Adds spacing between list items */
}

/* Featured Pets Section */
.featured {
    padding: 16px;
}

.featured-pet-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* Navigation buttons */
.featured-pet-slider button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 0 16px;
}

.how-it-works {
    text-align: center;
}

.features-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-card {
    padding: 16px;
    max-width: 250px;
    text-align: center;
    background-color: #ffffff;
}

.features-card {
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 16px;
    max-width: 250px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features-card p {
    margin: 0;
}

.feature-slider-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 0 8px;
}

.feature-slider-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.ready-to-start {
    text-align: center;
    margin-top: 2rem;
}

.auth-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.auth-button {
    background-color: black;
    font-style: none;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 0;
    flex: 1;
    margin: 0 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: #333;
}

@media (min-width: 768px) {
    .home-container {
        align-items: center;
    }

    .features-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    .features-card {
        width: auto;
        flex: 1;
        max-width: none;
    }
}