.account-message {
  color: red;
  font-style: italic;
}

.account-message-update {
  color: #5471f6;
  font-style: italic;
}

.back-button {
  position: fixed; /* Fix the button to the viewport */
  bottom: 20px; /* Position it 20px from the bottom */
  left: 20px; /* Position it 20px from the left */
  background-color: black; /* Background color of the button */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  padding: 12px 16px; /* Padding for the button */
  cursor: pointer; /* Change cursor on hover */
  font-size: 1rem; /* Font size */
  transition: background-color 0.3s ease; /* Transition for hover effect */
  z-index: 1000; /* Ensure it stays on top */
}

.back-button:hover {
  background-color: #333; /* Darker background on hover */
}

/* .header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

.header .button-container-left {
  position: absolute;
  left: 20%;
  margin-top: 10px;
}

.header .button-container-right {
  position: absolute;
  right: 20%;
  margin-top: 10px;
}

.header button {
  font-family: "Tomorrow", sans-serif;
  background-color: #FFD700;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 4px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.header button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

/* h1 {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 10px;
} */

.success {
  background-color: rgb(227, 252, 231);
  color: rgb(37, 168, 4);
}

.error {
  background-color: rgb(255, 230, 230);
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content form {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.left-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-section,
.right-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable-species-list {
  max-height: 580px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.colorless-list {
  margin-top: 0;
  list-style-type: none;
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
}

.colorless-pet {
  width: 100px;
  max-width: auto;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: border 0.3s;
}

.colorless-pet.selected {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 5px;
}

.colorless-pet.selected .colorless-pet-name {
  font-weight: bold;
}

.colorless-pet-img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.colorless-pet-name {
  font-size: 12px;
  color: #333;
  margin: 0;
}

.dynamic-container {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.dynamic-image {
  max-width: 100%;
  max-height: 100%;
}

.color-buttons {
  display: flex;
  justify-content: center;
}

.color-button {
  flex: 1;
  margin: 0 5px;
  padding: 10px 0;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.color-button:hover {
  background-color: #ccc;
}

.blue {
  background-color: rgb(162, 162, 243);
}

.blue:hover {
  background-color: rgb(93, 93, 247);
  border-color: black;
}

.red {
  background-color: rgb(233, 128, 128);
}

.red:hover {
  background-color: rgb(238, 39, 39);
  border-color: black;
}

.green {
  background-color: rgb(93, 238, 93);
}

.green:hover {
  background-color: rgb(32, 202, 32);
  border-color: black;
}

.yellow {
  background-color: rgb(235, 235, 71);
}

.yellow:hover {
  background-color: rgb(235, 221, 25);
  border-color: black;
}

/* Active state styles */
.color-button.active {
  border-color: black;
}

/* Override active styles to match hover */
.blue.active {
  background-color: rgb(93, 93, 247);
}

.red.active {
  background-color: rgb(238, 39, 39);
}

.green.active {
  background-color: rgb(32, 202, 32);
}

.yellow.active {
  background-color: rgb(235, 221, 25);
}

.color-button.active {
  font-weight: bold;
}

.species-container {
  margin-top: 50px;
}

.input-groups {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.input-group,
.gender-group {
  flex: 1;
  margin-right: 10px;
}

.input-group input,
.gender-group select {
  width: 90%;
  padding: 8px;
}

.gender-group {
  margin-right: 0;
}

.confirm-button {
  font-family: "Tomorrow", sans-serif;
  background-color: #769ff7a7;
  border: none;
  color: black;
  padding: 10px 20px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.confirm-button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.edit-button {
  font-family: "Tomorrow", sans-serif;
  background-color: #FFD700;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.edit-button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.delete-button {
  font-family: "Tomorrow", sans-serif;
  background-color: #ff4c4c;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.delete-button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.cancel-button {
  font-family: "Tomorrow", sans-serif;
  background-color: #b1b1b1a7;
  border: none;
  color: black;
  padding: 10px 20px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.cancel-button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.user-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
  max-width: 30%;
}