/* General Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 200;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* Navbar Left Links */
.navbar-left div {
    margin: 0.5rem 0.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    overflow: hidden;
}

.search-container form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-container.expanded {
    width: 100%;
    border-radius: 8px;
}

.search {
    text-align: right;
    max-width: 8rem;
    transition: width 0.3s ease;
    opacity: 0;
    padding: 0 8px;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    background-color: #fff;
    position: relative;
    right: 0;
    z-index: 1;
}

.search-container.expanded .search {
    width: 15rem;
    opacity: 1;
    right: 0;
    border-radius: 8px;
}

.search-icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.search-container.expanded .search-icon {
    display: none;
}

.search-icon {
    font-size: 2rem;
    color: #fff;
    background-color: #000;
    padding: 4px;
    border-radius: 50%;
}

/* Hamburger Button */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.75rem;
}

.hamburger .bar {
    width: 1rem;
    height: 2px;
    margin: 2.5px 2.5px;
    background-color: white;
}

/* Sliding Menu - Mobile View */
.sliding-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    max-width: 300px;
    background-color: black;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sliding-menu.open {
    transform: translateX(0);
}

/* Close Button */
.sliding-menu .close-button {
    font-size: 1.5rem;
    color: white;
    background-color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.1rem 0.7rem 0.1rem 0.7rem;
    cursor: pointer;
    border: none;
}

/* Menu List */
.sliding-menu ul {
    list-style: none;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.sliding-menu li {
    margin: 1rem 0;
}

.sliding-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbar-middle .search-box {
    display: none;
}

/* Github Component */
.sliding-menu .github {
    margin-top: auto;
    /* Push GitHub component to the bottom */
}