nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 108, 108);
  /* background-color: hwb(0 20% 80%); */
  padding: 0.5rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-left {
  margin-right: auto; /* Home stays on the left */
}

.navbar-right {
  display: flex;
  gap: 10px; /* Adds space between buttons */
}
